<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86420572708-pro40r554olvcmd38ik4k0n135v4iosd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86420572708-ho73kia9jokb0g3e96r5nk9d9q7t842c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>86420572708-809khf6k4sp48vkaqbravn76q4v0h986.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-SSe4yqey2yBtyuUThpj4KxINbyenV1M</string>
	<key>GCM_SENDER_ID</key>
	<string>86420572708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SwiftMasterProject.SwiftMasterProject</string>
	<key>PROJECT_ID</key>
	<string>weekly-wod-throwdown</string>
	<key>STORAGE_BUCKET</key>
	<string>weekly-wod-throwdown.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:86420572708:ios:a96e43cd354c83b8c3a6b1</string>
</dict>
</plist>
